<div class="row">
    <div class="col-lg-10">
        <div class="form-group">
            <label for="1">Name</label>
            <input type="email" class="form-control" id="1" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="2">Time</label>
            <input type="email" class="form-control" id="2" placeholder="Enter time">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="col-lg-1">
            <input type="radio" name="tech">
            Java<br>
        </div>
        <div class="col-lg-1">
            <input type="radio" name="tech">
            Php<br>
        </div>
        <div class="col-lg-1">
            <input type="radio" name="tech">
            C#<br>
        </div>
        <div class="col-lg-1">
            <input type="radio" name="tech">
            HTML<br>
        </div>
    </div>
</div>
<div class="btn-group-vertical" style="position: fixed; top: 100px; right: 40px;">
    <div class="btn btn-success">Save test</div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Add question
             
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="newQuestionButton" data-question-type="openQuestion">Open</a></li>
            <li><a href="#" class="newQuestionButton" data-question-type="onceChoceQuestion">Once choice</a></li>
            <li><a href="#" class="newQuestionButton" data-question-type="multiChoice">Multi choice</a></li>
        </ul>
    </div>
</div>
