<div class="row">
    <div class="col-lg-12">
        <h1>Test <small>Manage your tests and add new ones</small></h1>
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="icon-dashboard"></i>Dashboard</a></li>
            <li class="active"><i class="icon-file-alt"></i>Tests</li>
        </ol>
        <a href="add_new_test.html" class="btn btn-primary"><i class="fa fa-plus"></i>Add</a>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="panel-group col-lg-12" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Java tests
                  </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Name <i class="fa fa-sort"></i></th>
                                    <th>Approaches <i class="fa fa-sort"></i></th>
                                    <th>Avg result <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Team Leader</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer I</td>
                                    <td>3516</td>
                                    <td>89.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer ||</td>
                                    <td>1516</td>
                                    <td>26.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">PHP tests
                  </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Name <i class="fa fa-sort"></i></th>
                                    <th>Approaches <i class="fa fa-sort"></i></th>
                                    <th>Avg result <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Team Leader</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer I</td>
                                    <td>3516</td>
                                    <td>89.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer ||</td>
                                    <td>1516</td>
                                    <td>26.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">HTML tests
                  </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Name <i class="fa fa-sort"></i></th>
                                    <th>Approaches <i class="fa fa-sort"></i></th>
                                    <th>Avg result <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Team Leader</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer I</td>
                                    <td>3516</td>
                                    <td>89.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer ||</td>
                                    <td>1516</td>
                                    <td>26.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">C# tests
                  </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Name <i class="fa fa-sort"></i></th>
                                    <th>Approaches <i class="fa fa-sort"></i></th>
                                    <th>Avg result <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Team Leader</td>
                                    <td>1265</td>
                                    <td>32.3%</td>
                                </tr>
                                <tr>
                                    <td>Senior Developer</td>
                                    <td>261</td>
                                    <td>33.3%</td>
                                </tr>
                                <tr>
                                    <td>Developer</td>
                                    <td>665</td>
                                    <td>21.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer I</td>
                                    <td>3516</td>
                                    <td>89.3%</td>
                                </tr>
                                <tr>
                                    <td>Junior Developer ||</td>
                                    <td>1516</td>
                                    <td>26.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
